.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
*.css
db/schema.rb
config/apis.yml
.rvmrc
config/thin.yml
public/javascripts/*.js.gz
public/PublishMeEditor/Frameworks/Debug
public/PublishMeEditor/*.gz
public/PublishMeEditor/*/*.gz
public/PublishMeEditor/*/*/*.gz
public/PublishMeEditor/*/*/*/*.gz
public/PublishMeEditor/*/*/*/*/*.gz
public/PublishMeEditor/*/*/*/*/*/*.gz
.DS_Store
