- form_for( :publication, :as => :post, :url => new_publication_path ) do |f|
  %input{ :type => :hidden, :name => :dpi, :value => params["dpi"] }
  %input{ :type => :text, :name => :name, :value => "" }
  %input{ :type => :text, :id => "category_field", :name => :category, :value => "" }
  = f.submit "Create"
