%td
  %a{ :href => publication_path( :id => publication.uuid) }
    = publication.name || 'Nameless Publication'
%td
  = publication.pages.count
%td{ :id => dom_id_for_plink }
  %span Locked
%td
  No action possible
