%td
  %a{ :href => publication_path( :id => publication.uuid) }
    = publication.name || 'Nameless Publication'
%td
  = publication.pages.count
%td{ :id => dom_id_for_plink }
  %a{ :href => publication.bitlies.first.short_url } Published
%td
  %a{ :href => edit_publication_path( :id => publication.uuid) }> Edit
  ,
  = link_to 'Hide', perform_action_publication_path(:id => publication.uuid, :action_to_perform => :hide), :confirm => 'Are you sure?', :method => :post

