%p{ :style => "padding: 5px 5px 5px 5px;"}  
- if @publications.count == 0
  You currently have no publications. You may want to
  %a{ :href => publication_details_path, :onclick=>"setDpi(this);" } create
  a publication.
  %p{ :style => "padding: 10px 10px 10px 10px;"}  
- else
  %table
    %tr
      %th Name
      %th Pages
      %th Status
      %th Available Actions
    - @publications.each_with_index do |publication,idx|
      %tr{ :class => "user_publications_row_#{ idx % 2 == 0 ? 'even' : 'odd' }" }
        = render :partial => "user_publication_#{publication.state}", :locals => { :publication => publication, :dom_id_for_plink => dom_id(publication, "published_link") }
