body
  margin: 0
  padding: 0
  color: #333
  font: 13px Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif
  background: #E2EBED
  text-align: left

a
  color: #307082
  &:hover
    color: #D60808

acronym
  border: none

//#preamble h3 span, #explanation h3 span, #participation h3 span, #benefits h3 span, #requirements h3 span, #lresources h3.resources span, #larchives h3.archives span, #lselect h3.select
//  display: none
#dpi_sample
  height: 1in
  width: 1in
  left: -100%
  position: absolute
  top: -100%

#container
  margin: 0 auto
  width: 724px
  position: relative
  background: #fff
  padding: 0 10px 0 10px
  text-align: left
  height: 100%

* html #container
  width: 744px

#pageHeader
  position: absolute
  top: 25px
  left: 40px

h1
  /* background: url("../images/logo.gif") */
  width: 180px
  height: 25px
  overflow: hidden
  margin: 0
//  span
//    display: none

h2
  font-size: 12px
  margin: 0

#quickSummary
  padding-top: 85px
  .p2
    font-size: 12px
    position: absolute
    top: 10px
    right: 20px
    margin: 0

#container #intro #quickSummary .p1
  font-size: 11px
  height: 171px
  background: url("../images/background.jpg") no-repeat
  margin: 0
  width: 724px
  color: #fff
  font: 12px / 150% Trebuchet MS
  span
    padding: 30px 530px 0 30px
    display: block
    margin: 0
    font: 12px / 150% Trebuchet MS

#preamble
  margin: 0 20px 0 243px
  p.notice
    color: orange
  p.alert
    color: red

#supportingText
  margin: 0 20px 0 243px
  p
    line-height: 150%
    margin: 10px 0 10px 0

#preamble
  p
    line-height: 150%
    margin: 10px 0 10px 0
  h3
    width: 200px
    height: 24px
    margin: 40px 0 10px 0

#explanation h3, #participation h3, #benefits h3, #requirements h3
  width: 200px
  height: 24px
  margin: 0 0 0 0

/* #preamble h3
/*   background: url("../images/heading01.gif") no-repeat

/* #explanation h3
/*   background: url("../images/heading02.gif") no-repeat

/* #participation h3
/*   background: url("../images/heading03.gif") no-repeat

/* #benefits h3
/*   background: url("../images/heading04.gif") no-repeat

#requirements
/*   h3
/*     background: url("../images/heading05.gif") no-repeat
  margin-bottom: 40px

#linkList
  position: absolute
  top: 295px
  left: 0
  width: 210px

#lselect ul, #larchives ul, #lresources ul
  list-style-type: none
  margin: 0
  padding: 0 0 0 40px

#lselect ul li
  a
    text-decoration: underline
    display: block
    font-size: 13px
  &.c
    display: inline
    font-size: 12px
    color: #333
  a.c
    display: inline
    font-size: 12px
    color: #333
    text-decoration: none
    &:hover
      color: #D60808
  font-size: 12px
  border-bottom: 1px solid #E6EEF0

#linkList
  #larchives ul li, #lresources ul li
    font-size: 13px
    border-bottom: 1px solid #E6EEF0
    display: block
    padding: 5px 0

#lselect h3.select
/*   background: url("../images/resources.gif") no-repeat
  width: 69px
  height: 15px
  margin: 30px 0 5px 40px

#lresources h3.resources
/*   background: url("../images/resources.gif") no-repeat
  width: 69px
  height: 15px
  margin: 30px 0 5px 40px

#larchives h3.archives
/*   background: url("../images/archives.gif") no-repeat
  width: 69px
  height: 15px
  margin: 30px 0 5px 40px

#footer
  background: url("../images/footer.gif") no-repeat
  color: #fff
  height: 48px
  padding: 0 10px 0 0
  line-height: 26px
  font-size: 11px
  margin-top: 10px
  span.right
    float: right
  span.left
    float: left
  a
    color: #fff
    text-decoration: none
    &:hover
      text-decoration: underline

a.twitter_login
  text-decoration: none
  text-align: center
  vertical-align: bottom

img.twitter_login
  @extend a.twitter_login

.fb_button 
  background-color: #3b5998
  border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234)
  border-style: solid
  border-width: 0px
  color: #fff
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif
  font-size: 11px
  margin: 0 10px
