body
  background-color: LightGrey

h3
  text-align: center

.page_a4
  margin: 20px auto
  width: 794px
  height: 1123px
  padding: 0px
  background-color: #fff
  position: relative

.page_letter
  margin: 20px auto
  width: 950px
  height: 1230px
  padding: 0px
  background-color: #fff
  position: relative

.shadow
  box-shadow: 0px 3px 10px #000
  -moz-box-shadow: 0px 3px 10px #000
  -webkit-box-shadow: 0px 3px 10px #000
  
  /* Crazy IE shadow */
  zoom: 1
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#fff', Direction=135, Strength=3)

.text_element
  :background-color #fee

.twitter_element
  :background-color #eff

.twitter_element_highlight
  :color #01e
  :font-style italic
