#explanation
  %div
  %h3
    Social Publishing
  %p
  %span
    Become your own editor and publish content from your friends. The
    %a{ :href => 'http://bit.ly/fQsiml' }Overview
    provides a little more details.
  %p

#requirements
  %div
  %h3
    Requirements
  %p
  %span
    Click the create publication button above and start creating your first publication. You
    can create pages anonymously and then they will editable by anyone, or create documents
    using your Facebook or Twitter account, then only you will be able to edit those
    documents.
  %p

#examples
  %div
  %h3
    Example Publications
  %p
  %span
    %a{ :href => "http://bit.ly/hRf0Hm" } Examples
    contain some pages created using #{WhiteLabel.config.name}.
  %p  
