#explanation
  %h3
    %span Social Publishing
  %span
    Become your own editor and publish content from your friends.
  %p.p1
    %span
  %p.p2
    %span
#participation
  %h3
    %span How?
  %p.p1
    %span
  %p.p2
    %span
  %p.p3
    %span
#benefits
  %h3
    %span Benefits
  %p.p1
    %span
#requirements
  %h3
    %span Requirements
  %span
    Click the create publication button above and start creating your first publication.
  %p.p1
    %span
  %p.p2
    %span
  %p.p3
  %p.p4
    %span
  %p.p5
    %span
