#explanation
  %h3
    %span Social Publishing
  %span
    Become your own editor and publish content from your friends.
  %p
#requirements
  %h3
    %span Requirements
  %span
    Click the create publication button above and start creating your first publication.
#examples
  %h3
    %span Example Publications
  %span
    %a{ :href => "http://bit.ly/hRf0Hm" } Examples
