%h3
  Are you human? To avoid spam, please verify your human-ness:

= form_for(:publication, :as => :post, :url => @url) do |f|
  = recaptcha_tags
  %input{ :type => :hidden, :name => :dpi, :id => "dpi_value_hidden_field", :value => "" }
  %p
    \&nbsp;
  %p.alert
    Note that all publications you create will be <b style="color:blue">public</b> and any other anonymous user 
    can edit those publications. This means that you publication might <b style="color:blue">disappear</b> or change 
    without <b style="color:blue">notice</b>. To avoid this, login via your Twitter or Facebook 
    account. Your will then be associated with your login.
  %p
    \&nbsp;
  %p.center
    = f.submit "Yes, I understand."
%p
  \&nbsp;

:javascript
  document.getElementById('dpi_value_hidden_field').value = getDPI();
  var recp_input_field = document.getElementById('recaptcha_response_field');
  if ( recp_input_field ) recp_input_field.focus();
