%span.left
  \&nbsp;
  Copyright 2011 &copy;
  %a{ :href => WhiteLabel.config.company.url }= WhiteLabel.config.company.name
%span.right
  %a{:href => welcome_contact_us_path, :title => "Contact the Monkeys"} Contact Us
  \&nbsp;
  %a{:href => welcome_imprint_path, :title => "Imprint"} Imprint
  \&nbsp;
  %a{:href => welcome_privacy_policy_path, :title => "Privacy Policy"} Privacy Policy
  \&nbsp;
