%span.left
  \&nbsp;
  Copyright 2010 &copy; PublishMe.Com
%span.right
  %a{:href => "http://validator.w3.org/check/referer", :title => "Check the validity of this site\u2019s XHTML"} Contact Us
  \&nbsp;
  %a{:href => "http://jigsaw.w3.org/css-validator/check/referer", :title => "Check the validity of this site\u2019s CSS"} Imprint
  \&nbsp;
  %a{:href => "http://creativecommons.org/licenses/by-nc-sa/1.0/", :title => "View details of the license of this site, courtesy of Creative Commons."} Privacy Policy
  \&nbsp;
