%span.left
  \&nbsp;
  Copyright 2010 &copy; 2monkeys.me
%span.right
  %a{:href => welcome_contact_us_path, :title => "Contact the Monkeys"} Contact Us
  \&nbsp;
  %a{:href => welcome_imprint_path, :title => "Imprint"} Imprint
  \&nbsp;
  %a{:href => welcome_privacy_policy_path, :title => "View details of the license of this site, courtesy of Creative Commons."} Privacy Policy
  \&nbsp;
