%span.left
  \&nbsp;
  Copyright 2010 &copy; 2monkeys.me
%span.right
  %a{:href => "/contact-us", :title => "Contact the Monkeys"} Contact Us
  \&nbsp;
  %a{:href => "/imprint", :title => "Imprint"} Imprint
  \&nbsp;
  %a{:href => "/privacy-policy", :title => "View details of the license of this site, courtesy of Creative Commons."} Privacy Policy
  \&nbsp;
