#pageHeader
  %h1
    %span PublishMe.com
  %h2
    %span
      The Beauty of Online Publishing
#quickSummary
  %p.p1
    %span
      Become your own editor and publish content from your friends.
  %p.p2
    %span
      %fb:login-button{ :autologoutlink => "true", :perms => "user_photos" }
      = "|"
      - if user_signed_in?
        %a{:href => destroy_user_session_path, :title => "Logout"} Logout
      - else
        %a{:href => new_user_registration_path, :title => "Register"} Register
        |
        %a{:href => new_user_session_path, :title => "Login"} Login
      = "|"
      %a{:href => new_publication_path, :title => "New Publication", :onclick=>"this.href=this.href+'?dpi='+getDPI();"} New Publication
#preamble
  %h3
    %span The Road to Enlightenment
  %p.p1
    %span
      Littering a dark and dreary road lay the past relics of browser-specific tags, incompatible
      = succeed "s," do
        %acronym{:title => "Document Object Model"} DOM
      and broken
      %acronym{:title => "Cascading Style Sheets"} CSS
      support.
  %p.p2
    %span
      Today, we must clear the mind of past practices. Web enlightenment has been achieved thanks to the tireless efforts of folk like the
      = succeed "," do
        %acronym{:title => "World Wide Web Consortium"} W3C
      %acronym{:title => "Web Standards Project"} WaSP
      and the major browser creators.
  %p.p3
    %span The css Zen Garden invites you to relax and meditate on the important lessons of the masters. Begin to see with clarity. Learn to use the (yet to be) time-honored techniques in new and invigorating fashion. Become one with the web.
