#pageHeader
  %h1
    %span 
      %a{ :href => "/" }
        PublishMe
  %h2
    %span
      The Beauty of Online Publishing
#quickSummary
  %p.p1
    %span
      Become your own editor and publish content from your friends.
  %p.p2
    %span
      - if user_signed_in?
        %fb:login-button{ :autologoutlink => "true", :perms => "user_photos" }
        |
        %a{:href => destroy_user_session_path, :title => "Logout"} Logout
        |
        %a{:href => new_publication_path, :title => "New Publication", :onclick=>"this.href=this.href+'?dpi='+getDPI();"} New Publication
      - else
        %a{:href => new_user_registration_path, :title => "Register"} Register
        |
        %a{:href => new_user_session_path, :title => "Login"} Login
#preamble
  %p{ :class => "notice" }= notice
  %p{ :class => "alert" }= alert
