/ extra div for flexibility - this list will probably be the trickiest spot you'll deal with
#linkList2
  / If you're wondering about the extra &amp;nbsp; at the end of the link, it's a hack to meet WCAG 1 Accessibility.
  / I don't like having to do it, but this is a visual exercise. It's a compromise.
  #lselect
    %h3.select
      %span Select:
    / list of links begins here. There will be no more than 8 links per page
    %ul
      %li
        %a{:accesskey => "a", :href => "/", :title => "AccessKey: a"} Sample #1
        by
        = succeed "&amp;nbsp;" do
          %a.c{:href => "http://www.mezzoblue.com/"} Dave Shea
  #larchives
    %h3.archives
      %span Archives:
    %ul
      %li
        %a{:accesskey => "n", :href => "/", :title => "View next set of designs. AccessKey: n"}>
          %span.accesskey> n
          ext designs &raquo;
        \&nbsp;
  #lresources
    %h3.resources
      %span Resources:
    %ul
      %li
        %a{:accesskey => "v", :href => "http://www.csszengarden.com/001/001.css", :title => "View the source CSS file for the currently-viewed design, AccessKey: v"}
          %span.accesskey> V
          iew This Design’s
          %acronym{:title => "Cascading Style Sheets"} CSS
